{% extends 'axf/base.html' %}

{% load static from staticfiles %}
{% block linkscript  %}
        <link rel="stylesheet" type="text/css" href="{% static 'mine/css/login.css' %}"/>
        <script type="text/javascript" charset="UTF-8" src="{% static 'mine/js/login.js' %}"></script>
{% endblock linkscript  %}

{% block base  %}
<div id="login">
    <a href="/mine/"><p>返回</p></a><br/>
    <div id="box">
        <form class="input-group" action="/login/" method="post">
            {% csrf_token %}
            <div class="form-control">
                账号：{{form.username}}
                <br/>
            </div>

            <div class="form-control">
                密码：{{form.passwd}}
                <br/>
            </div>
            <div>
                <input class="btn btn-default" type="submit" value="登录">
            </div>
            <span class="error" >{{error}}</span>
        </form>
    </div>
</div>
{% endblock base  %}